.logo1{
    position: relative;
    height: 130px;
    width: 408px;
    top: 35px;
    left: 516px;
}
.linha{
    position: absolute;
    width: 1647px;
    height: 4px;
    left: 131px;
    top: 176px;
    background: #5AE368;
    border-radius: 24px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.letras{
    text-decoration: none;
    position: relative;
    color: #000;
    font-family: Inter;
    font-style: italic;
    font-weight: 200;
    line-height: 117.523%;
}

.cesta_de_compras{
    position: relative;
    width: 48px;
    height: 49px;
    top: 1px;
    left: 229px;
}

.botao_de_inicio{
    position: relative;
    width: 48px;
    height: 49px;
    top: 1px;
    left: 175px;
}

.perfil{
    position: relative;
    width: 48px;
    height: 49px;
    top: 1px;
    left: 888px;
}